@import url("https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    color: #232323;
}

p {
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
}

/*----------------------Colours---------------- */

.bg-color-blue {
    background-color: #3EC6F1;
}

.bg-color-footer {
    background-color: #232323;
}

.bg-color-container {
    background-color: rgba(50, 50, 50, 0.2)

}


/*----------------------Titles---------------- */

.uppercase {
    text-transform: uppercase;
    font-weight: 300;
}

/*----------------------Parallax backgrounds---------------- */

.bg-banner {
    background-image: url("../images/banner.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-contact {
  background-image: url("../images/contact.jpg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-ecologic {
  background-image: url("../images/ecologic.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------------Header---------------- */

#logo
{
  position: absolute;
  top: 0;
  left: 0;
  margin: 60px 0 0 30px;
  text-align: left;
}

#logo h1 {
    color: #FFF;
    font-size: 100px;
    letter-spacing: 0.145em;
}

#logo h6 {
    color: #FFF;
    font-weight: normal;
    font-size: 22px;
    line-height: 0px;
}

#contactbox
{
  background-color: #3EC6F1;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  padding: 20px;
  padding-top: 20px;
  text-align: center;
}

